.container {
    margin: 0 auto !important;
    max-width: 120rem;
    
    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.header-nav {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    align-items: center;
}

.header {
    min-height: 45rem;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba($bg-primary-color, 1) 0 20%, rgba($bg-secondary-color, 0.1) 45%),
    url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;

    &__text-box {
        padding: 7rem;
    }

    &__hotel-name {
        margin-top: 5rem;
        

        &--link:link,
        &--link:visited {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 500;
            text-decoration: none;
            color: #006d32;
            transition: all .2s;
            
        }
        &--link:hover,
        &--link:active {
            color: #30a14e;
        }

        &--icon {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            border: 2px solid $color-grey-light-1;
            padding: .8rem;
            margin-right: 1rem;
        }
    }
}

.heading-primary {
    display: flex;
    flex-direction: column;
    color: $color-grey-dark-1;

    &--main {
        font-size: 4rem;
        font-weight: 600;
        width: 30rem;
        margin-bottom: 2rem;
    }

    &--sub {
        font-size: 1.4rem;
        font-weight: 500;
        width: 40rem;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-align: center;
}

.cities {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 20rem;
    

    &__header {
        width: 90%;
        
    }

    &__box {
        width: 90%;
        height: 15rem;
        background-color: rgba($bg-secondary-color, .3);
        border-radius: 20px;
        margin-top: 20rem;
        
    }

    &__btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
    }
}